@import "colors";

$height: 60px;

#header {
	height: $height;
	background: $color2;
	opacity: 1.0;
	padding: 10px;
	margin-bottom: 10px;

}

.login {
	color: $color1;
	line-height: $height;
	float: right;
	margin-right: 20px;
}

#main.title{
	position: absolute;
	left:0px;
	padding:10px;
	z-index: 30;
}