.wall#left
.wall#right
.backdrop
	#main.title Western Court House
	form.box#login
		label.big Login
		.row
			/ label Last Name
			input#username name="username" type='text' value='Last Name'
		.row
			/ label Password 
			input#password type='password' 
		.row
			input#submit type='submit' value='Submit'
		.clear


coffee:
	$ ->
		login = $ '#login'


		login.submit (e)->
			e.preventDefault()
			$.ajax
				url: 'login'
				data:
					username: login.find('#username').val()
					password: login.find('#password').val()
				success: (data)->
					if(!data)
						return
					console.log(data)
					loginAnimate()


		loginAnimate = ->
			offset = 300
			time = 1000

			width = $('.backdrop').width()

			login.css
				position: 'fixed'
				top: login.offset().top-150
				left: login.offset().left

			$('.backdrop').css
				background: 'none'
				zIndex: 100 

			$('.wall#left').css
				opacity: 1
				left: '0px'
			$('.wall#right').css
				opacity: 1
				left: width/2

			$('.wall#left').animate 
				left: -width/2-offset
				, time
			$('.wall#right').animate 
				left: width+offset
				, time

			login.animate 
				left: login.position().left+width/2+offset
				, time
				, complete = ->
					$('.backdrop').remove()
					$('.wall#left').remove()
					$('.wall#right').remove()

			$('#main.title').animate
				opacity: 0
				, time/8
