/*
 *= require_tree ./partial
 *= require_tree ./fonts
 *= require font-awesome
 *= require login
 *= require profile
 *= require utilities
 *= require activity
 *= require_self
 */

@import "partial/colors";
@import "partial/normalize";


$width: 1000px;

body {
	background: $blue;
	color: white;
	font-family: source sans pro;
	padding: 0px;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	@include hover;
}

button, input[type="submit"], .button {
	border-radius: 300px;
	border: 1px solid rgba(white, 0.1);
	background: $blue;
	color: white;
	cursor: pointer;
	font-size: 80%;
	padding: 3px 7px;

	&:hover {
		background: lighten($blue, 3%);
	}

}

.hidden {
	display: none;
}

.right {
	float: right;
}

#settings-bar {
	.change-password {
		padding-right: 15px;
	}

	.password {
		display: none;
		float: right;
		vertical-align: middle;
	}

}

#slider {
	text-align: center;
	display: none;
	height: 30px;
	// line-height: 40px;
	width: 100%;
	background: $darkGray;
	padding: 10px 10px;
	box-shadow: inset 0px -2px 5px rgba(black, 0.5);

	> * > * {
		margin-right: 10px;
	}
}

#log {
	margin: 10px;
}

#logout{
	color: white;
	margin: 10px;
	margin-right: 13px;
	float: right;
	transition: all .2s;
	&:hover {
		color: $yellow;
	}
}

#settings {
	@extend #logout;
	margin-top: 13px;
}

#content {
	&:after {
		content: '';
		clear: both;
	}
	width: $width;
	margin: auto;
}

.column {
	box-sizing: border-box;
	padding: 5px;
	float: left;

	&#left-content {
		width: $width * 0.4;
	}

	&#right-content {
		width: $width * 0.6;
	}
	// width: $width / 2;
	// height: 200px;
}
