@import 'colors';


.badge-container {
	$column: 80px;
	$column2: 250px;

	.column{
		float: left;
		height: $column;
		font-size: $column/4;
		line-height: $column/3;
		margin-right:5px;

	}

	.column#right{
		width: $column2;
	}

	.name {
		/*color: $color6;*/
		font-weight: bold;
	}

	.room {
		font-size: $column/6;
		line-height: $column/6;
		height: 2*$column/6;
	}

	.rent-amount {
		display: inline;
		font-weight: bold;
		color:green;

	}

	.status {
		display: inline;
		float: right;
		padding: 0px 5px;
		font-weight: bold;
		border-radius: 2px;
	}

	.status.paid{
		color: green;
		background-color: rgba(green, .1);
	}

	.status.unpaid {
		color: red;
		background-color: rgba(red, .1);
		font-size: 80%;			
	}

	.picture {
		height: $column;
		width: $column;
		background-size: contain;
		border-radius:2px;
	}


}
