$blue: #262f61;

$yellow: #dfd21f;

$green: green;

$red: red;

$darkGray: #3b3b3b;


@mixin hover() {
	cursor: pointer;
	transition: color .2s;

	&:hover {
		color: $yellow;
	}
}

@mixin image() {
	background-size: cover;
	background-position: center;
}