

#activity

	.post-field
		textarea placeholder="leave a comment"
		.submit submit
		.clear

	.comments last='#{Comments.last.id}'
		- Comments.all.reverse_order.take(20).each do |comment|
			= render 'comment', comment: comment

coffee:

	updateTime = ->
		$('.post .time').each ->
			date = $(this).attr('timestamp')
			date = parseInt(date)
			date = moment(date).fromNow()
			$(this).html(date)
		
	updateComments = ->
		comments = $('#activity .comments')
		$.ajax
			url: 'getComments'
			data:
				last: comments.attr('last')
			success: (data)->
				if data.comments
					comments.prepend( $(data.comments) )
					comments.attr('last', data.last)

	updateTime()

	Loop = ->
		setTimeout ->
			updateComments()
			updateTime()
			Loop()
		, 5000

	Loop()


	$('.post-field .submit').click ->
		$.ajax
			url: 'post'
			data:
				message: $('.post-field textarea').val()
			success: (data)->
				$('.post-field textarea').val('')
				updateComments()
				updateTime()


