
#admin-panel.box
	h2 Admin Panel
	button.reset-button Reset Rent
	button.calc-button Calculate Rent
	.clear
	#status

coffee:
	$ ->

		$('.reset-button').click ->
			$.ajax
				url: 'resetRent'
				success: (x)->
					$('#status').html('Rent Reset')
					.delay(1000).animate
						opacity: 0.0,
					, 1000
					, complete = ->
						$('#status').
						html('').
						css('opacity', 1)

		$('.calc-button').click ->
			$.ajax
				url: 'calcRent'
				success: (data)->
					$('#status')
					.html('Rent Calculated: ' + data)
					.delay(1000).animate
						opacity: 0.0,
					, 1000
					, complete = ->
						$('#status').
						html('').
						css('opacity', 1)

scss:
	#status {
		height: 20px;
		font-size: 15px;
		color: red;
		display: block;
	}