#admin-panel.box
	h2 Admin Panel
	.row
		h3 
			| Utilities: 
			strong $#{Utilities.last.amount.round(2)}
	.row
		button.reset-button Reset Rent
		button.calc-button Calculate Rent
		button.message-button Send Texts
	.clear
	- if House.confirmed?
		button.confirm-button Unconfirm Payment
	- if House.unconfirmed?
		button.confirm-button Confirm Payment
	#status 

coffee:
	$ ->

		$('.reset-button').click ->
			$.ajax
				url: 'resetRent'
				success: (x)->
					$('#status').html('Rent Reset')
					.delay(1000).animate
						opacity: 0.0,
					, 1000
					, complete = ->
						$('#status').
						html('').
						css('opacity', 1)

		$('.calc-button').click ->
			$.ajax
				url: 'calcRent'
				success: (data)->
					$('#status')
					.html('Rent Calculated: ' + data)
					.delay(1000).animate
						opacity: 0.0,
					, 1000
					, complete = ->
						$('#status').
						html('').
						css('opacity', 1)

		$('.message-button').click ->
			$.ajax
				url: 'sendTexts'
				success: (data)->
					$('<div>Done!</div>').appendTo '#admin-panel'

		$('.confirm-button').click ->
			$.ajax
				url: 'confirmHouse'
				success: (data)->
					$('#status').html('Confirmed')

scss:
	#status {
		height: 20px;
		font-size: 15px;
		color: red;
		display: block;
	}